.hexwrap {
    height: 0;
  }

.hexes {
    display:flex;
    --s: 100px;  /* size  */
    --m: 4px;    /* margin */
    --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
  
    position: sticky;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;

}
.hex-container {
  font-size: 0; /*disable white space between inline block element */
  opacity: .5;

}
.hex-container div.hex {
    width: var(--s);
    margin: var(--m);
    height: calc(var(--s)*1.1547); 
    display: inline-block;
    font-size:initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    margin-bottom: calc(var(--m) - var(--s)*0.2885); 
}
.hex-container::before {
    content: "";
    width: calc(var(--s)/2 + var(--m));
    float: left;
    height: 120%;
    shape-outside: repeating-linear-gradient(     
                   #0000 0 calc(var(--f) - 3px),      
                   #000  0 var(--f));
}

@media (max-width: 950px) {
    .hexes {
        width: 100%;
    }
}
@media (min-width: 951px) {
    .hexes {
        width: 46%;
    }
}
